*{box-sizing: border-box; padding: 0; margin: 0}
html{font-size: 62,5%;}

.contenedortitulo{
    width: 75%;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: bolder; color:rgb(13, 13, 95); 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedortitulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    font-size: 1rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listatitulo__item {display: inline-blocK}
.listatitulo__item a{text-decoration: none}
.listatitulo__item a:hover{color: rgb(241, 131, 183);}
.listatitulo__item a:active{border: solid; color: rgb(89, 89, 238); width: 2rem; height: 1rem;}

.imagenfondo{
    width: 1200px;
    height: 500px;
    background: url(./fondo.png);
}

h1{
    padding-top: 3.2rem;
    margin-left: 9.9rem;
    color: #2B3372;
    font-size: 3.3rem;
    font-family: lato-light,lato,sans-serif;
}

.texto-img{margin-left: 9.9rem; color: #2B3372; font-family: Arial,Helvetica,sans-serif;}

.barra{
    position: absolute;
    margin-top: -0.35rem;
    margin-left: 10.4rem;
    background-color: rgb(250, 171, 185);
    width: 23.5rem;
    height: 0.4rem;
    opacity: 0.7;
}

.button1{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    margin: 2.35rem;
    margin-left: 10.1rem;
    background-color: rgb(90, 90, 246);
    width: 10.4rem;
    height: 3.55rem;
    border: transparent;
    border-radius: 2rem;  
}

.button1:hover{color: whitesmoke; background-color: rgb(55, 38, 93);}

h2{ margin-top: 1.5rem;
    font-family: Helvetica, sans-serif;
    color: rgb(65, 63, 63);
    text-align: center;
    font-size: 2.3rem;
}

.texto{font-family: Helvetica, sans-serif;
    color: rgb(100, 105, 105);
    text-align: center;
}

.parent{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 20rem;
    display: flex;
    justify-content: space-around;
}

.box{
    text-align: center;
    width: 14rem;
    height: 18rem;
}

h3{font-family: Helvetica, sans-serif;
    color: rgb(65, 63, 63);
    text-align: center;
    font-size: 1rem;    
}

.box > p{
    font-size: 16px;
    padding-top: 2rem;
    font-family: Helvetica, sans-serif;
    color: rgb(100, 105, 105);
    text-align: center;
 }

 #box2 > p{
     margin-top: -1.3rem;
 }

.video{
    background-color: rgb(227, 229, 255);
    width: 100%;
    height: 28rem;
    color: #2B3372;
    font-size: 2.3rem;
    font-family: lato-light,lato,sans-serif;
    text-align: center;
    margin-top: -5px;
    padding-top: 1.4rem;
}

.foot1{
    width: 100%;
    height: 6.5rem;
    background-color: rgb(90, 90, 246);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    padding-left: -2.5rem;
}

.button3{
    color: rgb(90, 90, 246);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    background-color: whitesmoke;
    width: 10.4rem;
    height: 3.55rem;
    border: transparent;
    border-radius: 2rem;
    margin-left: 2.5rem; 
}

.button3:hover{color: whitesmoke; background-color: rgb(55, 38, 93);}

.foot2{
    width: 100%;
    height: 6.5rem;
    background-color: rgb(90, 90, 246);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex: wrap;
    justify-content: space-around;
    align-items: center;
}

.listafooter{
    font-size: 1rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listafooter__item {display: inline-blocK;}
.listafooter__item a{text-decoration: none; color: white;}
.listafooter__item a:hover{color: rgb(241, 131, 183);}

.foot3{
    width: 8%;
    height: 6.5rem;
    background-color: rgb(90, 90, 246);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img1{width: 1rem; height: 1rem;}
.img2{width: 1rem; height: 1rem;}
.img3{width: 1rem; height: 1rem;}

.foot4{
    width: 100%;
    height: 1.5rem;
    background-color: rgb(90, 90, 246);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
}